mekagame/Library/
mekagame/Temp/
mekagame/Logs/
mekagame/.vs/
mekagame/obj/
mekagame/UserSettings/
*.sln
*.vsconfig
*.csproj
mekagame/Assets/SkySeries Freebie/FreebieHdri/AmbienceExposure4k.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/AmbienceExposure4k.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/CasualDay4K.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/CasualDay4K.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/CloudedSunGlow4k.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/CloudedSunGlow4k.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/Cloudymorning4k.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/Cloudymorning4k.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/CoriolisNight4k.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/CoriolisNight4k.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/CosmicCoolCloudBack.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/CosmicCoolCloudBack.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/CosmicCoolCloudBottom.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/CosmicCoolCloudBottom.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/CosmicCoolCloudEQ_hdr.exr
mekagame/Assets/SkySeries Freebie/FreebieHdri/CosmicCoolCloudEQ_hdr.exr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/CosmicCoolCloudFront.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/CosmicCoolCloudFront.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/CosmicCoolCloudLeft.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/CosmicCoolCloudLeft.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/CosmicCoolCloudRight.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/CosmicCoolCloudRight.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/CosmicCoolCloudTop.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/CosmicCoolCloudTop.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/DarkStorm4K.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/DarkStorm4K.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/DayInTheClouds4k.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/DayInTheClouds4k.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/FluffballDay4k.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/FluffballDay4k.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/FluffballDayBack.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/FluffballDayBack.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/FluffballDayBottom.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/FluffballDayBottom.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/FluffballDayFront.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/FluffballDayFront.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/FluffballDayLeft.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/FluffballDayLeft.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/FluffballDayRight.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/FluffballDayRight.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/FluffballDayTop.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/FluffballDayTop.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/HighFantasy4k.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/HighFantasy4k.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/MegaSun4k.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/MegaSun4k.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/MegaSunBack.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/MegaSunBack.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/MegaSunBottom.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/MegaSunBottom.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/MegaSunFront.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/MegaSunFront.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/MegaSunLeft.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/MegaSunLeft.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/MegaSunRight.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/MegaSunRight.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/MegaSunTop.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/MegaSunTop.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/PlanetaryEarth4k.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/PlanetaryEarth4k.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/SkyhighFluffycloudField4k.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/SkyhighFluffycloudField4k.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/SunlessCirruscover4k.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/SunlessCirruscover4k.hdr.meta
mekagame/Assets/SkySeries Freebie/FreebieHdri/UnearthlyRed4k.hdr
mekagame/Assets/SkySeries Freebie/FreebieHdri/UnearthlyRed4k.hdr.meta
